.bg-mint{
    background-color: #B4DBC0;
}
.bg-powder{
    background-color: #8FD8D2;
}
.bg-fresh{
    background-color: #4ABDAC;
}
.bg-lavander{
    background-color: #6D7993;
}
.bg-herb{
    background-color: #626E60;
}
.bg-grape{
    background-color: #94618E;
}
.bg-starry-night{
    background-color: #0375B4;
}
.bg-silk{
    background-color: #DCD0C0;
}
.bg-tan{
    background-color: #EEAA7B;
}
.bg-apricot{
    background-color: #F7882F;
}
.bg-sunflowers{
    background-color: #FFCE00;
}
.bg-tangerine{
    background-color: #E37222;
}
.bg-chilly{
    background-color: #AF473C;
}
.bg-watermelon{
    background-color: #FF3B3F;
}



